
@media (min-width: 1100px) {
    .footer{
        width: 1100px;
    }
    .footer-block-1{
        width: 220px;
        padding-left: 25px;
    }
    .footer-block-2{
        width: 208px;
    }
    .footer-block-3{
        width: 191px;
    }
    .footer-block-4{
        width: 256px;
    }
    .footer-block-5{
        width: 225px;
    }

}
/*lg*/
@media screen and (max-width: 1099px) {

    .footer-block-1{
        width: 32%;
        margin-left: 8%;
    }
    .footer-block-2{
        width: 32%;
    }
    .footer-block-3{
        width: 26%;
    }
    .footer-block-4{
        width: 50%;
        padding-left: 15%;
        margin-top: 22px;
        margin-bottom: 30px;
    }
    .footer-block-5{
        width: 225px;
        margin-top: 20px;
    }
    .footer-block-5 .contacts-header{
        left: 40px;
    }



}

@media (max-width: 767px) {

    .footer-block-4{
        padding-left: 11%;
    }
}

@media (max-width: 744px) {
    .footer-block-1{
        margin-left: 6%;
    }
}

@media (max-width: 639px) {
    .footer-block-1 {
        width: 49%;
        margin-left: 30px;
    }
    .footer-block-3 {
        width: 49%;
        clear: both;
        margin-left: 30px;
    }
    .footer-block-4{
        width: auto;
        margin: 0;
        padding: 0;
    }
    footer .footer-block-5{
        margin: auto;
        float: none;
    }
    .footer-block-5{
        clear: both;
    }
    .footer-block-5 .contacts-header {
        position: static;
        height: auto;
    }
    .footer > div{
        margin-bottom: 15px;
    }
    .footer .footer-block-5{
        margin-bottom: 50px;
    }
    .footer-block-2 {
        width: 220px;
    }
}
@media (max-width: 529px) {
    .footer-block-1, .footer-block-3{
        width: 45%;
    }
}

/*sm*/
@media (max-width: 479px) {

}
/*xs*/
@media (max-width: 319px) {

}

@media (max-width: 239px) {

}
