@media (min-width: 1100px) {
    .main-menu-items{
        display: block !important;
    }
    header {
        width: 1100px;
    }
}
/*lg*/
@media (max-width: 1099px) {

    header{
        width: 97%;
        margin: auto;
    }

    .col-md-4{
        width: 220px;
    }
    nav.main-menu {
        float: right;
        margin-right: 295px;
        margin-top: 38px;
        position: relative;
    }
    .main-menu-items{
        display: none;
        position: absolute;
        z-index: 10;
        top: 0px;
        right: 40px;
        background-color: #ffffff;
    }
    nav.main-menu .main-menu-items li{
        display: block;
        border: 0px;
        padding: 0px;
        height: 40px;
        padding: 10px 15px 0px;
    }
    #main-menu-button{
        display: inline-block;
    }
    nav.main-menu li:hover {
        background-color: #1e76b0;
    }
    nav.main-menu li:hover a{
        color: #ffffff;
    }
    nav.main-menu a{
        text-decoration: none;
    }
}
/*md*/
@media (max-width: 767px) {

}

/*sm*/
@media (max-width: 479px) {

}
/*xs*/
@media (max-width: 319px) {

}

@media (max-width: 239px) {

}
